name: Deploy to Staging
on:
  push:
    branches:
      - staging
  workflow_dispatch:

jobs:
  deploy-dev:
    uses: ./.github/workflows/terraform-reusable.yml
    with:
      environment: stage
      aws_region: ap-south-1
      terraform_directory: envs/stage
      dry_run: true
