name: Deploy to QA
on:
  push:
    branches:
      - qa
  workflow_dispatch:

permissions:
  contents: read
  id-token: write

jobs:
  deploy-dev:
    uses: ./.github/workflows/reusable-deploy.yml
    with:
      environment: qa
      aws_region: ap-south-1
      terraform_directory: envs/qa
      dry_run: true
