name: Deploy to Staging
on:
  push:
    branches:
      - staging
  workflow_dispatch:

jobs:
  call-reusable:
    uses: ./.github/workflows/reusable-deploy.yml
    with:
      environment: staging
      terraform_apply: true
      aws_access_key_id: ${{ secrets.AWS_ACCESS_KEY_ID_STAGING }}
      aws_secret_access_key: ${{ secrets.AWS_SECRET_ACCESS_KEY_STAGING }}
      terraform_backend_key: "terraform/state/staging/terraform.tfstate"
    secrets:
      TF_VAR_sensitive: ${{ secrets.TF_VAR_SENSITIVE_STAGING }}
    environment: staging
