name: Deploy to Test
on:
  push:
    branches:
      - test
  workflow_dispatch:

permissions:
  contents: read
  id-token: write

jobs:
  deploy-dev:
    uses: ./.github/workflows/reusable-deploy.yml
    with:
      environment: test
      aws_region: ap-south-1
      terraform_directory: envs/test
      dry_run: true
