name: Deploy to Prod
on:
  workflow_dispatch:

jobs:
  deploy-dev:
    uses: ./.github/workflows/reusable-deploy.yml
    with:
      environment: prod
      aws_region: ap-south-1
      terraform_directory: envs/prod
      dry_run: true
