name: Deploy to Staging
on:
  push:
    branches:
      - staging
  workflow_dispatch:
  
permissions:
  contents: read
  id-token: write
  
jobs:
  deploy-dev:
    uses: ./.github/workflows/reusable-deploy.yml
    with:
      environment: stage
      aws_region: ap-south-1
      terraform_directory: envs/stage
      dry_run: true
