# .github/workflows/reusable-deploy.yml
name: Reusable deploy workflow
on:
  workflow_call:
    inputs:
      environment:
        required: true
        type: string
      dry_run:
        required: false
        type: boolean
        default: false
      terraform_apply:
        required: false
        type: boolean
        default: false
      aws_access_key_id:
        required: true
        type: string
      aws_secret_access_key:
        required: true
        type: string
      terraform_backend_key:
        required: true
        type: string
    secrets:
      TF_VAR_sensitive:        # optional example: passed through
        required: false

jobs:
  checkout-and-setup:
    runs-on: ubuntu-latest
    outputs:
      tf_plan_path: ${{ steps.tf-plan.outputs.planfile }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.14.0

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::167744073260:role/oidc-test
          aws-region: ap-south-1
      - name: Verify identity
        run: aws sts get-caller-identity
      
      - name: Terraform init
        id: tf-init
        run: |
          terraform init -reconfigure \
            -backend-config="key=${{ inputs.terraform_backend_key }}" \
            -backend-config="bucket=my-terraform-state-bucket" \
            -backend-config="region=ap-south-1"

  terraform-plan:
    needs: checkout-and-setup
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Terraform workspace/select
        run: |
          terraform workspace select ${{ inputs.environment }} || terraform workspace new ${{ inputs.environment }}

      - name: Terraform plan
        id: tf-plan
        run: |
          terraform plan -out=tfplan.binary
          terraform show -json tfplan.binary > tfplan.json
        outputs:
          planfile: tfplan.binary

#  terraform-apply:
#    needs: [checkout-and-setup, terraform-plan]
#    if: ${{ inputs.terraform_apply == true }}
 #   runs-on: ubuntu-latest
#    steps:
#      - name: Checkout
#        uses: actions/checkout@v4

#      - name: Terraform apply
#        run: |
#          terraform workspace select ${{ inputs.environment }} || terraform workspace new ${{ inputs.environment }}
#          terraform apply -auto-approve tfplan.binary
